.cards {
    margin-bottom: 80px;
}
.cards__conteiner {
    max-width: 1144px;
    margin: auto;
    margin-bottom: 50px;
}

.cards__next {
    display: flex;
    justify-content: center;
}

.cards__preloader {
    border: none;
    background-color: inherit;
    outline: none;
}

.cards__preloader:hover {
    opacity: 0.7;
}

@media all and (max-width: 450px) {
    .cards__button {
        width: 240px;
    }
}