.cards {
    margin-bottom: 80px;
}
.cards__conteiner {
    max-width: 1144px;
    margin: auto;
    margin-bottom: 50px;
}

.cards__next {
    display: flex;
    justify-content: center;
}

.cards__button {
    width: 320px;
    height: 36px;
    border: 2px solid #E8E8E8;
    border-radius: 2px;
    background-color: #FFFFFF;
    outline: none;
    cursor: pointer;
    color: #000000;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.25;
    text-align: center;
    transition: 0.3s;
}

.cards__button:hover { 
    opacity: 0.7;
}

@media all and (max-width: 450px) {
    .cards__button {
        width: 240px;
    }
}