.register {
    min-width: 320px;
    display: flex;
    margin: 0 auto;
    padding: 0;
}

.register__container {
    margin: 0 auto;
    padding: 40px;
    margin-top: 60px;
    min-width: 410px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.register__logo {
    background-image: url(../../images/logo.svg);
    width: 38px;
    min-height: 38px;
    margin-bottom: 40px;
}

.register__title {
    margin: 0;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 1.2;
    color: #000000;
} 

.register__form {
    display: flex;
    flex-direction: column;
    width: 396px;
    margin: 40px auto 0;
    align-items: flex-start;
  }

.register__input {
    width: 100%;
    margin-bottom: 24px;
    padding-bottom: 10px;
    border: none;
    border-bottom: 1px solid #E8E8E8;
    outline: none;
}

  .register__label {
    padding-bottom: 5px;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    color: #A0A0A0;
}

.register__link {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    transition: 0.3s;
    text-decoration: none;
    margin-top: 14px;
    margin-left: 6px;
}
.register__link:hover {
    opacity: 0.6;
}

.register__save-btn { 
    width: 396px;
    height: 45px;
    margin-top: 152px;
    border: none;
    border-radius: 2px;
    background-color: #000000;
    cursor: pointer;
    color: #FFFFFF;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    transition: 0.3s;
} 
.register__save-btn:hover { 
    opacity: 0.85;
}

.register__signup {
    margin-top: 16px;
    display: flex;
    justify-content: center;
}

.register__text {
    color: #A0A0A0;
    font-size: 14px;
    line-height: 17px;
}